.rgb-default>.rgb-heading {
        color: white;
        border-radius: 0px;
        background-color: #055B9C;
        border-color: #ddd;
    }
    header.isfixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        margin: auto;
        z-index: 999;
        background: #fff;
        box-shadow: 14px 8px 11px 0px rgb(0 0 0 / 20%);
    }
    .rgb {
        margin-bottom: 20px;
        background-color: #fff;
        border: 0px solid #055B9C;
        border-radius: 5px;
        /*-webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 16px 20px 20px rgb(0 0 0 / 5%);*/
        
    }
    .rgb-footer {
        padding: 10px 15px;
        background-color: #ffffff;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .gradient-border {
        margin-bottom: 20px;
        --borderWidth: 3px;
        background: #fff;
        position: relative;
        border-radius: var(--borderWidth);
    }
    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82#FF0000, #EE0000, #DD0000, #CC0000, #BB0000, #AA0000, #990000, #880000, #770000, #660000, #550000, #440000, #330000, #220000, #110000, #FFFFFF, #FFFFCC, #FFFF99, #FFFF66);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }
    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
